/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */

/**
 * By importing this CSS file as media "all", we allow this print file to be
 * aggregated with other stylesheets, for improved front-end performance.
 */
@media print {
  header, .messages, legend, .object-sort-show-wrapper, .object-mock-table-header, .islandora-sort, #edit-islandora-simple-search-query{
    display: none !important;
  }
  .islandora-solr-simple-search-form .form-type-textfield, div.adv-search-lnk, #edit-submit, div.bookmark_export, .islandora-bookmark-solr-results th, .islandora-bookmark-solr-results.form-checkbox{
    display: none !important;
  }
  .front .lib4ri-citation-solr-results-citation{
    border-bottom-width: 1px solid grey;
  }
  dd:empty{
    display: none !important;
  }
  dd, dt{
    padding: 0.25em;
    padding-left: 0em !important;
  }
  body {
    font-size: 77% !important;
    line-height: 1em !important;
  }
  .page__title.title {
    font-size: 1.25em;
  }
  .ir-citationCModel{
    h1#page-title{
      display: none;
    }
  }
  div.bib-detail-record{
    a{
      display: none !important;
    }
  }
  li a.remove-query{
    display: none !important;
  }
  fieldset{
    margin: 0 !important;
    padding: 0em !important;
  }
  .form-item{
    margin-top: .25em !important;
    margin-bottom: .25em !important;
  }
  /* Underline all links. */
  a:link,
  a:visited {
    text-decoration: underline;

    /* Don't underline header. */
    &.header__site-link {
      text-decoration: none !important;
    }
  }
  tr{
    border: none !important;
    border-bottom-color: transparent !important;
  }
  table.islandora-bookmark-solr-results tr.even, table.islandora-bookmark-solr-results tr.odd {
    border-bottom-color: transparent !important;
  }
  a{
    color: black !important;
    text-decoration: none !important;
    text-decoration-line: none !important;
    text-decoration-style: solid !important;
  }
  tr a{
    text-decoration: none !important;
    text-decoration-line: none !important;
  }
  #content {
    /* Add visible URL after links. */
    a[href]:after {
/*       content: " (" attr(href) ")"; */
      font-weight: normal;
      font-size: $base-font-size;
    }

    /* Only display useful links. */
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
      content: "";
    }

    /* Add visible title after abbreviations. */
    abbr[title]:after {
    }
  }

  /* Un-float the content. */
  #content {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Turn off any background colors or images. */
  body,
  #page,
  #main,
  #content {
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }

  /* Hide sidebars and nav elements. */
  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons {
    visibility: hidden;
    display: none;
  }
}
