/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";
@import "mixins";
/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
@import "components/header";
@import "components/footer";
@import "components/front_welcome_search";
@import "components/views/view_organizational";
@import "components/views/view_recent_additions";
@import "components/collection_page";
@import "components/object_page";
@import "components/facets";
@import "components/_blocks";
@import "components/recent_additions";
@import "components/organizational_unit";
@import "components/views/block_data_links";
@import "components/search_results";
@import "layouts/advanced_search_ajax";
@import "layouts/advanced-search";

// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */
