/**
* Islandora block and general block styles.
**/

#block-islandora-solr-current-query{
  margin-bottom: 0em;
}

#block-islandora-solr-current-query, .islandora-solr-filter-wrap{
  h2{
    display: inline-block;
    font-size: 80%;
  }
  h2::after{
    content: ":";
  }
  h3{
    display: inline-block;
    font-size: 80%;
  }
  h3::after{
    content: ":";
  }
  .islandora-solr-query-wrap{
    display: inline-block;
    div.item-list{
      ul{
        margin-top: .25em;
        margin-bottom: .25em;
        padding-left: 0px;
        li:hover{
          background-color: #dddddd;
          border-radius: 3px;
        }
        li{
          display: inline-block;
          list-style: none;
          list-style-image: none;
          a{
            text-decoration: none;
            float: right;
            background: image-url("cross108.png") center center no-repeat;
            padding-left:10px;
            height:25px;
            width:25px;
            text-decoration: none;
            color: transparent;
            vertical-align:text-center;
          }
        }
      }
    }
  }
  ul.islandora-solr-filter-list{
    margin-top: .25em;
    margin-bottom: .25em;
    display: inline-block;
    padding-left: 0px;
    li:hover{
      background-color: #dddddd;
      border-radius: 3px;
    }
    li{
      display: inline-block;
      list-style: none;
      list-style-image: none;
      a{
        text-decoration: none;
        float: right;
        background: image-url("cross108.png") center center no-repeat;
        padding-left:10px;
        height:25px;
        width:25px;
        text-decoration: none;
        color: transparent;
        vertical-align:text-center;
      }
    }
  }
}

.date-range-filter-wrapper{
  display: block;
}
#block-islandora-solr-sort{
  a.active{
    img{
      
    }
  }
}

#block-islandora-solr-current-query{
  div.content{
    display: inline-block;
  }
}

#block-lib4ridora-lib4ridora-organizational-units{
  .item-list {
    padding-left: 1em;
  }
}
