/**
* Styles for all elements found in the header of the site.
**/

.object-sort-show-wrapper{
  display: table !important;
  table-layout: fixed;
  width: 100% !important;
  .islandora-sort, .displaying-items, .solr-sort-dummy-right{
    display: table-cell;
    vertical-align: middle;
  }
}

.object-mock-table-header{
  display: table !important;
  table-layout: fixed;
  width: 100% !important;
  .select-items, .object-mock-pager, .object-mock-icons{
    display: table-cell;
    vertical-align: middle;
  }
}

table.islandora-bookmark-solr-results{
  margin-top: -1.87em;
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  thead{
    th{
      border: none;
    }
  } 
  tbody{
    border-top: none !important;
    tr{
     td{
       >a{
         display: none;
       }
     }
    }
  }
  tbody:before {
    line-height:0em;
    content:"\200C";
    display:block;
  }
  tr.even, tr.odd{
    border-top: none !important;
    border-bottom: 2px solid grey !important;
  }
  tr.even, tr.odd{
    background-color: transparent !important;
  }
}

table.islandora-bookmark-solr-results{
  margin-top: -2.4em\9;
}

.islandora-sort{
  text-align: center;
  .block-islandora-solr{
    margin-bottom: .3em;
  }
  h2{
    display: none;
  }
  ul.islandora-solr-sort{
    margin-top: .3em;
    margin-bottom: .3em;
    li{
      display: inline;
      list-style: none;
      list-style-image: none;
      padding-left: 5px;
      padding-right: 5px;
      a{
        text-decoration: none;
      }
    }
  }
}

.object-mock-table-header{
  display: table !important;
  width: 100%;
  background-color: #dddddd;
  border-radius: 5px;
  border: 1px solid black;
  .select-items{
    display: table-cell;
    vertical-align: middle;
    .select-items-input-wrapper{
      padding-left: 10px;
      input{
        margin-right: 5px;
      }
    }
  }
  .object-mock-pager{
    display: table-cell;
    vertical-align: middle;
    ul.pager{
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }
  .object-mock-icons{
    display: table-cell;
    vertical-align: middle;
    .item-list{
      padding-right: 10px;
    }
  }
}

.object-list-lock-wrapper{
  padding-bottom: 10px;
  letter-spacing: inherit;
  word-spacing: inherit;
}
.islandora-solr-search-result-inner{
  dl.islandora-inline-metadata {
    letter-spacing: inherit !important;
    word-spacing: inherit !important;
  }
}

.islandora-solr-search-result{
  margin-bottom: .2em;
}
dl.islandora-object{
  margin-bottom: 0;
}
dt.islandora-object-thumb {
  max-width: 38px;
}

.islandora-objects-list-item dl dd{
  margin-left: 50px;
}

/* .islandora-objects-list-item{ */
/*   border-bottom: 1px solid #666666; */
/* } */

.secondary-display-rss{
  margin-top: 4px;
  padding: 24px 27px 0px 0px;
  background: image-url('rss_small.png');
  background-size:auto;
  background-repeat: no-repeat;
  width: 0px;
  height: 0px;
}

.secondary-display-csv{
  margin-top: 3px;
  padding: 27px 27px 0px 0px;
  background: image-url('csv.blue.27x26.png');
  background-size:auto;
  background-repeat: no-repeat;
  width: 0px;
  height: 0px;
  vertical-align: text-bottom;
}

.published-accepted-links{
  display: inline;
  float: right;
}

.islandora-objects-list{
  dl.islandora-inline-metadata {
    letter-spacing: inherit;
    word-spacing: inherit;
  }
}

.islandora-solr-search-result-inner dl.solr-fields{
  width: 100%;
  border-top: none;
}

.solr-fields dt, .solr-fields dd{
  border-top: none;
}

dl.solr-thumb{
  text-align: center;
  width: 37px;
}

.islandora-inline-metadata dd{
  padding-left: 0px;
}

.solr-thumb, .solr-label, .solr-value {
  display: inline-block;
}

.solr-thumb.islandora-object-thumb {
  padding-left: 11px;
}

.secondary-display-xls{
  margin-top: 3px;
  padding: 26px 27px 0px 0px;
  background: image-url('xls.blue.26x25.png');
  background-size:auto;
  background-repeat: no-repeat;
  width: 0px;
  height: 0px;
  vertical-align: text-bottom;
}

