/**
 * Front welcome and search block styling.
 */

.front{
  .form-submit{
    margin-left: 15px \0/IE9 !important;
    overflow: visible;
    margin-top: -29px \0/IE9 !important;
  }
  input{
    line-height:100% \0/ !important;
  }
  #islandora-solr-simple-search-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    width: 100%;
    div, input{
      overflow: visible \9;
      padding: 5px \9;
      overflow: visible \0;
      padding: 5px \0;
    }
    .form-item-islandora-simple-search-query input{
      width: 100%;
      padding-left: 30px;
      line-height: 2em;
      border: 1px solid grey;
      border-radius: 3px;
      overflow: visible;
    }
    .form-submit {
      float: left;
      margin-bottom: 20px;
      margin-top: -31px;
      margin-left: 3px;
      position: relative;
      background: image-url("magnifying.png");
      background-repeat: no-repeat;
      background-position: 2px 2px;
      width: 26px;
      height: 26px;
      border: 0;
      text-indent: -9999px;
    }
    .adv-search-lnk{
      float: right;
      a{
        text-decoration: none;
      }
    }
  }
}

.not-front{
  .header-inner-wrapper{
    .header__region{
      input.form-submit{
        margin-top: 2px \9 \0 !important;
        margin-left: 7px\ 9 \0 !important;
      }
      div.form-type-textfield{
        padding: 5px \9;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        font-size: 130% \9 !important;
        padding: 5px \0;
        padding-top: 8px \0 !important;
        padding-bottom: 8px \0 !important;
        font-size: 130% \0 !important;
      }
      input{
        line-height:100% \0/ !important;
        line-height:100% \0 !important;
      }
    }
  }
}

@media screen\0 {
  table.islandora-bookmark-solr-results{
    thead{
      tr{
        width: 30px !important;
        th.select-all{
          margin-top: 6px;
          float: left;
        }
        th{
          float: left;
          padding-top: 5px;
        }
        th:nth-child(2) {
          padding-top: 10px;
        }
      }
    }
    tbody{
      width: 100%;
      tr{
        td:nth-child(1) {
          padding-right: 10px;
        }
      }
    }
    table{
      width: 100%;
    }
  }
}
