
fieldset.islandora-metadata{
  border: none;
  dd{
    p{
      margin-top: 0em;
      margin-bottom: 0em;
    }
  }
  dt{
    text-align: left;
  }
  legend{
    background-color: #dddddd;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #666666;
    span{
      padding-left: 30px;
      background-position: 15px 65%;
    }
  }
}


.islandora-solr-search-results{
  .islandora-solr-search-result{
    border-bottom: 1px solid grey;
    .csl-bib-body {
      padding-left: 35px;
    }
    .object-list-lock-wrapper{
      padding-top: 5px;
    }
  }
}

.islandora-metadata dt, .islandora-metadata dd {
  border: none;
}