
fieldset.islandora-metadata{
  border: none;
  dd{
    p{
      margin-top: 0em;
      margin-bottom: 0em;
    }
  }
  dt{
    text-align: left;
  }
  legend{
    background-color: #dddddd;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #666666;
    span{
      padding-left: 0px;
      background-position: 15px 65%;
    }
  }
}

.islandora-solr-search-results{
  .islandora-solr-search-result{
    border-bottom: 1px solid grey;
    .csl-bib-body {
      padding-left: 35px;
    }
    .object-list-lock-wrapper{
      padding-top: 5px;
    }
  }
}

.islandora-metadata dt, .islandora-metadata dd {
  border: none;
}

.ir_citationCModel{
  div.form-item {
    display: table;
    width: 100%;
    label{
      display: table-cell;
      width: 20.625%;
    }
    div.csl-bib-body, a{
      display: table-cell;
    }
  }
  fieldset{
    padding-left: 0em;
    padding-right: 0em;
  }
}
