/**
* Styles for recent additions block.
**/

.lib4ri-citation-solr-results-citation{
  .bib-detail-record {
    display: inline-block;
  }
  .bib-versions {
    display: inline-block;
    float: right;
    span{
      a{
        padding-left: 5px;
      }
    }
  }
}

.front .lib4ri-citation-solr-results-citation{
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}

.csl-bib-body div {
  padding-left: 0 !important;
  text-indent: 0 !important;
}