/**
* Styles for recent additions block.
**/

.front{
  .lib4ri-citation-solr-results-citation {
    border-bottom: 2px solid grey;
  }
}

.lib4ri-citation-solr-results-citation {
  display: block;
  padding-top: 5px;
  padding-bottom: 10px;
  .csl-bib-body {
    display: block;
    text-align: left;
    .csl-entry{
      >div{
        padding-left: 0px !important;
      }
    }
  }
  .bib-detail-record {
    display: inline-block;
    margin-top: 5px;
  }
  .bib-versions {
    display: inline-block;
    float: right;
    > div > div {
      display: inline-block;
    }
  }
}
