/**
* Styling for Lib4ri Citation Blocks View Links.
**/

.view-publication-links, #block-lib4ridora-lib4ridora-related-research{
  .views-field, div.libfourri-research-data{
    padding-left: .75em;
    padding-bottom: .5em;
    span {
      background: image-url("launch-2.png");
      background-repeat: no-repeat;
      background-position: 0px 0px;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
      a {
        padding-left: 1.5em;
      }
    }
  }
}

#block-lib4ridora-lib4ridora-full-text{
  .lib4ridora-pdf-materials{
    padding-left: .90em;
    .lib4ridora-pdf-link{
      .availability-text{
        padding-left: 1em;
        display: block;
      }
    }
  }
}
