/**
* Styling for Lib4ri Citation Blocks View Links.
**/

.view-publication-links, #block-lib4ridora-lib4ridora-related-research{
  .views-field, div.libfourri-research-data{
    padding-left: .75em;
    padding-bottom: .5em;
    span {
      background: image-url("launch-2.png");
      background-repeat: no-repeat;
      background-position: 3px 2px;
      background-size: 18px 18px;
      width: 18px;
      height: 18px;
      position: relative;
      left: -3px;
      a {
        padding-left: 1.3em;
        white-space: nowrap;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
}

#block-lib4ridora-lib4ridora-full-text{
  .lib4ridora-pdf-materials{
    padding-left: .90em;
    display: inline-block;
    .lib4ridora-pdf-link{
      .availability-text{
        padding-left: 1.1em;
        padding-right: 5px;
        white-space: normal;
        display: inline-block;
      }
    }
  }
}

.lib4ridora-pdf-link{
  padding-right: .5em;
  padding-bottom: .5em;
}

.lib4ridora-pdf-link a {
  white-space: nowrap;
}

.lib4ri_space_nowrap {
  white-space: nowrap;
}

.lib4ri_space_wrapped {
  white-space: wrapped;
}

.lib4ri_sb2_item_indent {
  display: block;
  padding-left: 2em;
  padding-bottom: 0.5em;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-position: 12px 4px;
  background-size: 16px 16px;
}

.lib4ri_sb2_item_indent_icon {
  display: block;
  padding-left: 2em;
  padding-bottom: 0.5em;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mO02u7xHwAEpgI62/eXhgAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  background-position: 18px 8px;
  background-size: 7px 7px;
}

div.altmetric-embed img {
	padding-left: 2em;
	width:98px;
	height:94px;
	margin-left: -1px !important;
	padding-bottom: 2px;
}

